*{
  background-color: white;
  overflow: hidden;
}

@media screen and (max-width: 1365px) {
  .video_holder {
    display: block;
    position: absolute;
    left: 0%;
    margin:auto;
    padding: auto;
    animation: fadeInAnimation ease 15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;}
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;}
        80% {opacity:1;}
        100% {
            opacity: 1;
         }
    }
    #mobile_warning{
      position: relative;
      font-size: 70%;
      top:40%;
      text-align: center;
      text-transform: uppercase;
      font-style: italic;
    }
    video{
      width: 100%;
      height: 140%;
      margin: auto;
    }
    button{
      display: none;
    }
}

@media screen and (min-width: 1366px) {
  .video_holder {
    position: fixed;
    left: 0%;
    right: 0%;
    margin: auto;
    padding: auto;
    animation: fadeInAnimation ease 15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;}
        80% {opacity:1;}
        100% {
            opacity: 1;
         }
    }
  video{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  button{
    position: fixed;
    width: 100px;
    height: 20px;
    margin: auto;
    bottom: 5%;
    left: 20%;
    right: 20%;
    padding: auto;
  }
  #mobile_warning{
    display: none;
    position: absolute;
  }
}


#contact{
  font-style: italic;
  font-weight: lighter;
  bottom: 1%;
  right: 1%;
  display: block;
  position: fixed;
  text-align: right;
  color: black;
  margin: 0%;
}

a{
  display: block;
  color:#854aa1;
}
