body{
  background-color: white;
  overflow: hidden;
}

#cim_holder{
display: none;
}

#button_holder{
  display: none;
}

 video{
   width:100%;
   height:140%;
   margin:auto;
   padding: auto;
 }
#video_holder {
  left:0%;
  bottom: 0%;
  position:fixed;
  margin:auto;
  padding: auto;
  animation: fadeInAnimation ease 15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;}
    80% {opacity:1;}
    100% {
        opacity: 1;
     }
}

button{
  width:100px;
  height:20px;
  position: fixed;
  margin-left:45%;
  bottom:5%;
  padding:auto;
}
