/* Designing for scroll-bar */
/* line 4, ../sass/2d.scss */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
/* line 9, ../sass/2d.scss */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
/* line 15, ../sass/2d.scss */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 7px;
}

/* Handle on hover */
/* line 21, ../sass/2d.scss */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* line 24, ../sass/2d.scss */
* {
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: auto;
}

/* line 61, ../sass/2d.scss */
.parallax {
  display: inline;
  perspective: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(#ff0000, #ffff00);
}

/* line 74, ../sass/2d.scss */
.parallax__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
}
/* line 81, ../sass/2d.scss */
.parallax__layer img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

/* line 92, ../sass/2d.scss */
.content {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  position: absolute;
  display: block;
  padding-right: 5%;
}

/* line 100, ../sass/2d.scss */
#content_welcome {
  padding: 9%;
  margin-top: 56.3%;
  min-height: 90vh;
  left: 0;
  right: 0;
  width: 40%;
  background-color: white;
}
/* line 109, ../sass/2d.scss */
#content_welcome section {
  font-size: 12vh;
}
/* line 113, ../sass/2d.scss */
#content_welcome p#welcome {
  padding-left: 30%;
  font-size: 140%;
}

/* line 132, ../sass/2d.scss */
#content_begin {
  position: absolute;
  font-size: 3vh;
  padding-top: 15%;
  height: 180vh;
  margin-top: 150%;
  width: 100%;
  margin-left: 10%;
  background-color: white;
}
/* line 142, ../sass/2d.scss */
#content_begin p#wish {
  padding-left: 5%;
  padding-right: 70%;
}
/* line 147, ../sass/2d.scss */
#content_begin p#upload {
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 50%;
}

/* line 167, ../sass/2d.scss */
button {
  position: fixed;
  margin-top: 20%;
  margin-left: 45%;
  height: 5vh;
  width: 25vh;
  background-color: black;
  color: white;
  z-index: 5;
}

/* line 179, ../sass/2d.scss */
.parallax2 {
  width: 100%;
  position: absolute;
}

/* line 185, ../sass/2d.scss */
.parallax__layer2 {
  margin-top: 140%;
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  padding: auto;
  z-index: 3;
}
/* line 195, ../sass/2d.scss */
.parallax__layer2 img {
  margin-left: 30%;
  width: 90%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

/* line 244, ../sass/2d.scss */
.parallax__layer__0 {
  transform: translateZ(-750px) scale(8.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__1 {
  transform: translateZ(-700px) scale(8);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__2 {
  transform: translateZ(-650px) scale(7.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__3 {
  transform: translateZ(-600px) scale(7);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__4 {
  transform: translateZ(-550px) scale(6.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__5 {
  transform: translateZ(-500px) scale(6);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__6 {
  transform: translateZ(-450px) scale(5.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__7 {
  transform: translateZ(-400px) scale(5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__8 {
  transform: translateZ(-350px) scale(4.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__9 {
  transform: translateZ(-300px) scale(4);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__10 {
  transform: translateZ(-250px) scale(3.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__11 {
  transform: translateZ(-200px) scale(3);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__12 {
  transform: translateZ(-150px) scale(2.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__13 {
  transform: translateZ(-100px) scale(2);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__14 {
  transform: translateZ(-50px) scale(1.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 244, ../sass/2d.scss */
.parallax__layer__15 {
  transform: translateZ(0px) scale(1);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 252, ../sass/2d.scss */
.parallax__layer2__0 {
  transform: translateZ(-100px) scale(2);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 252, ../sass/2d.scss */
.parallax__layer2__1 {
  transform: translateZ(-50px) scale(1.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 252, ../sass/2d.scss */
.parallax__layer2__2 {
  transform: translateZ(0px) scale(1);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 260, ../sass/2d.scss */
.parallax__layer3__0 {
  transform: translateZ(-100px) scale(2);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 260, ../sass/2d.scss */
.parallax__layer3__1 {
  transform: translateZ(-50px) scale(1.5);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}

/* line 260, ../sass/2d.scss */
.parallax__layer3__2 {
  transform: translateZ(0px) scale(1);
  /* background-color: rgba(15,100,1,(1 + $i) / 100);*/
}
