*{
  background-color: white;
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  #video_holder {
    position: absolute;
    display: block;
    bottom:0%;
    left: 0%;
    right:0%;
    margin:0%;
    padding: auto;
    overflow: hidden;
    animation: fadeInAnimation ease 15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;}
        80% {opacity:1;}
        100% {
            opacity: 1;
         }
    }
  video{
    width: 100%;
    height: 100%;
    margin: 0%;
    overflow: hidden;
  }
  #subpage_vr{
    position: absolute;
    width: 100px;
    height: 20px;
    margin: auto;
    bottom: 10%;
    left: 33%;
    padding: auto;
  }

  #subpage_2d{
    position: absolute;
    width: 100px;
    height: 20px;
    margin: auto;
    bottom: 10%;
    right: 33%;
    padding: auto;
  }
  #mobile_warning{
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #video_holder {
    position: absolute;
    display: block;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
    overflow: hidden;
    margin: 0%;
    padding: auto;
    animation: fadeInAnimation ease 15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;}
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;}
        80% {opacity:1;}
        100% {
            opacity: 1;
         }
    }
    #mobile_warning{
      position: absolute;
      display:block;
      font-size: 90%;
      width:50%;
      left:0%;
      right:0%;
      top:15%;
      margin:auto;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-style: italic;
    }
    video{
      width: 100%;
      height: 100%;
      margin: 0%;
      overflow: hidden;
    }

    #subpage_vr{
      display:none;
    }

    #subpage_2d{
      position: absolute;
      width: 25%;
      height: 2.5%;
      margin:auto;
      bottom: 20%;
      margin-left:36.5%;

    }
}

#contact{
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 90%;
  bottom: 1%;
  right: 1%;
  display: block;
  position: fixed;
  text-align: right;
  color: black;
  margin: 0%;
}

a{
  display: block;
  color:#854aa1;
}
